<!DOCTYPE html>
<html>
  <head>
    <title>Able Gate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "admin/application/stylesheet" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="home-screen">
    <div class="home-content">
      <h1 class="main-title">Able Gate</h1>
      <%= image_tag "matrix.png", class: "home-image" %>
      <%= button_to "/auth/google_oauth2", class: "button" do %>
        <span><i class="fab fa-google"></i>Login with able.co</span>
      <% end %>
    </div>
  </body>
</html>
